nav {
  position: fixed;
  top: 0;
  margin-left: -40px; /* add this line to add space around the nav section */
}


a {
  /* Change the color of the links */
  color: blue;
  /* Remove the underlines from the links */
  text-decoration: none;
  /* Change the size of the text */
  font-size: 20px;
}

/* Change the color of the links when the user hovers over them */
a:hover {
  color: red;
}

/* Style the list items that contain the links */
li {
  /* Add some space around the links */
  padding: 2px;
}

body {
  padding-top: 10px; /* or any other value that fits your needs */
}

header {
  width: 60%;
  margin: 0 auto; /* this will center the entire header element */
  border-radius: 10px; /* add this line to give the header rounded edges */
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex; /* this enables flexbox layout for the footer element */
  align-items: center; /* this centers the elements within the footer element vertically */
  justify-content: space-between; /* this will distribute the elements within the footer element with equal space between them */

}
footer div {
  display: flex; /* this enables flexbox layout for the container element */
}
